.DS_Store
*/.DS_Store
example/bin/*.app
*/*/xcuserdata
*/*/*/xcuserdata

*.app

/example-jvc-dev/config.make
/example-jvc-dev/Makefile
/example-jvc-dev/openFrameworks-Info.plist
/example-jvc-dev/Project.xcconfig

/example-jvc-dev/bin/data/video.mp4
